@(message: String, error: String)(implicit request: RequestHeader)

@import helper._

@main("Log In") {
    <h2>Log in to your account</h2>

    @if(message.nonEmpty) {
        <div>@message</div>
    }

    <form id="log-in-form" method="post">
        @CSRF.formField
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <button type="submit" id="login-button">Log In</button>
    </form>

    <div id="error-message" class="error" style="display: none;"></div>

    <script type="text/javascript">
        const errorMessageDiv = document.getElementById("error-message");

        document.getElementById('log-in-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());

            fetch('@routes.UserController.logIn().absoluteURL()', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Csrf-Token': formData.get('csrfToken')
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.href = '/items'; // Redirect on success
                } else {
<!--                    alert('Error: ' + data.message);-->
                    errorMessageDiv.textContent = data.message;
                    errorMessageDiv.style.display = "block";
                }
            })
            .catch(error => {
                console.error('Error:', error);
                errorMessageDiv.textContent = "An unexpected error occurred.";
                errorMessageDiv.style.display = "block";
            });
        });
    </script>
}
